<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a routerLink = "" class="navbar-brand">
      <img src="../assets/images/67da109e5162463ea7c6d884888923fd.png" alt="Excelsior Logo" height = "100">
    </a>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink = "home" routerLinkActive="disabled active">Home</a>
      <a class="nav-item nav-link" routerLink = "packages" routerLinkActive="disabled active">Packages</a>
      <a class="nav-item nav-link" routerLink = "aboutus" routerLinkActive="disabled active">About Us</a>
      <a class="nav-item nav-link" routerLink="login" routerLinkActive="disabled active">Login</a>
      <a class="nav-item nav-link" routerLink="myaccount" routerLinkActive="disabled active">My Account</a>
      <a class="nav-item nav-link" routerLink="register" routerLinkActive="disabled active">Register</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
