<h1>Cruises</h1>
<form [formGroup] = "travelerForm" class = "travelerForm">
  <mat-form-field appearance="fill">
    <mat-label>Number of adults</mat-label>
    <input min = 1 matInput type = "number" formControlName = "formAdults">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Number of children</mat-label>
    <input min = 0 matInput type="number" formControlName = "formChildren">
  </mat-form-field>
  <mat-form-field appearance="fill">
  <mat-label>Number of Rooms</mat-label>
  <input min = 1 max = 4 matInput type="number" formControlName = "formRooms">
</mat-form-field>
  <button (click) = "assembleTravelers()" mat-raised-button color = "primary">Assemble your travelers!</button>
</form>
<!-- <h3>Search Cruises by Location</h3>
<form [formGroup] = "locationForm">
    <mat-form-field appearance="fill">
        <mat-label>Where are you headed?</mat-label>
        <mat-select formControlName = "formLocations">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button [disabled] = "locationForm.invalid" mat-raised-button color = "primary" >Search</button>
</form>
<h3>Search Cruises by Date</h3>
<form [formGroup] = "dateForm">
    <mat-form-field appearance="fill">
        <mat-label>When do you want to travel?</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Start date" formControlName = "formDates">
          <input matEndDate placeholder="End date" formControlName = "formDates">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button [disabled] = "dateForm.invalid" mat-raised-button color = "primary">Search</button>
</form> -->
<br>
<h2>All currently scheduled cruises:</h2>

<div *ngFor = "let voyage of this.service.Voyages;let i = index">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{voyage.cruiseShip.tripLength}} night {{voyage.destination}} Cruise</mat-card-title>
      <mat-card-subtitle>
        <h3>{{voyage.cruiseShip.cruiseLine}} {{voyage.cruiseShip.shipName}}</h3>
        <b>Sailing dates:</b> {{voyage.departure | date}} - {{voyage.arrival | date}}
        <p>from {{voyage.cruiseShip.childPrice | currency}} per child traveler*</p>
        <p>from {{voyage.cruiseShip.adultPrice | currency}} per adult traveler*</p>
        <p>from {{voyage.cruiseShip.roomPrice | currency}} per room*</p>
        <button (click) = "chooseCruise(i)" mat-raised-button color = "primary">Book your voyage</button>
      </mat-card-subtitle>
      <img mat-card-xl-image [src]="voyage.cruiseShip.img1">
    </mat-card-title-group>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Departing {{voyage.cruiseShip.portCity}}
            </mat-panel-title>
            <mat-panel-description>
              See itinerary
            </mat-panel-description>
          </mat-expansion-panel-header>
          <hr>
          <mat-list role="list" *ngFor = "let itinerary of voyage.cruiseShip.itineraries">
            <mat-list-item role="listitem"><h3>Day {{itinerary.day}}</h3></mat-list-item>
            <mat-list-item role="listitem"><h2>{{itinerary.city}}</h2></mat-list-item>
            <mat-list-item role="listitem" *ngIf = "itinerary.stateCountry"><h3>{{itinerary.stateCountry}}</h3></mat-list-item>
            <mat-list-item role="listitem" *ngIf = "itinerary.portTime"><h3>{{itinerary.portTime}}</h3></mat-list-item>
            <hr>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <!-- <img style = "height: 200px;" [src] = "voyage.cruiseShip.img1">
  <h3><b>{{voyage.cruiseShip.tripLength}} night {{voyage.destination}} Cruise</b></h3>
  <h3><b>Sailing dates: </b>{{voyage.departure | date}} - {{voyage.arrival | date}}</h3> -->
</div>
