<!-- <div *ngFor = "let cruise of cruises">
    <h2>{{cruise.cruiseLine}} {{cruise.shipName}}</h2>
    <h3>Departing: {{cruise.From}}</h3>
    <h3>Visiting: {{cruise.To}}</h3>
    <h3>{{cruise.cruiseLine}} {{cruise.shipName}}</h3>
    <h3>Length: {{cruise.dayLength}} days</h3>
    <h3>Price per adult traveler: {{cruise.pricePerAdult | currency}}</h3>
    <h3>Price per child traveler: {{cruise.pricePerChild | currency}}</h3>
    <h3>Itinerary</h3>
    <div *ngFor = "let dest of cruise.itinerary">
        <h4>Day {{dest.day}}</h4>
        <h4>{{dest.city}}</h4>
        <h4 *ngIf = "dest.country !=''">{{dest.country}}</h4>
        <h4 *ngIf = "dest.portTime != ''">{{dest.portTime}}</h4>
    </div>
</div> -->

<h1>Cruises!</h1>
<h3>Search by Location</h3>
<form [formGroup] = "locationForm">
    <mat-form-field appearance="fill">
        <mat-label>Where are you headed?</mat-label>
        <mat-select formControlName = "formLocations">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button [disabled] = "locationForm.invalid" mat-raised-button color = "primary" >Search</button>
</form>
<h3>Search by Date</h3>
<form [formGroup] = "dateForm">
    <mat-form-field appearance="fill">
        <mat-label>When's a good time?</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Start date" formControlName = "formDates">
          <input matEndDate placeholder="End date" formControlName = "formDates">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button [disabled] = "dateForm.invalid" mat-raised-button color = "primary">Search</button>
</form>
