<h1>Register for an Account!</h1>

<mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field appearance = "fill">
    <mat-label>Password</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Street Address</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field appearance = "fill">
    <mat-label>State</mat-label>
    <mat-select>
        <mat-option>AK</mat-option>
        <mat-option>LA</mat-option>
        <mat-option>NY</mat-option>
    </mat-select>
</mat-form-field>

